html,body{
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;
    font-size: 15px;
    padding: 0;
    margin: 0;
}

body{
    background: #c31432;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #e7e7e7;
}

h1{
    margin: 1.5rem 0 0 1rem;
    font-size: 250%;
    font-weight: 300;
    display: inline-block;
}

h2{
    text-align: left;
    margin: 0.5rem 4rem 0.5rem 0;
    font-size: 180%;
    font-weight: 300;
}

a{
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}

.container{
    width: 94%;
    margin: 0 auto;
    text-align: center;
}

/* =========== */
/* Navigation */
/* =========== */
.navigation{
    text-align: left;
    position: fixed;
    width: 100%;
    margin: 0;
}

.navigation div{
    float: right;
    margin-right: 1rem;
}

.nav{
    display: inline-block;
    text-align: right;
    font-size: 128%;
    margin-top: 0;
}

.nav li{
    list-style-type: none;
    display: inline-block;
    margin: 0 1rem 0 0;
}

.nav li a{
    border-bottom: 1px solid transparent;
    text-decoration: none;
    padding-bottom: 7px;
    transition: border-bottom 0.3s, text-shadow 0.3s;
}

.nav li a:hover{
    border-bottom: 1px solid #d3d3d3;
    text-shadow: 0px 0px 7px #bbb;
}

form{
    display: inline-block;
}

.inputBox{
    text-align: right;
    margin: 1rem 1rem 0 0;
    position: relative;
    top: 1rem;
}

input{
    font-size: 103%;
    border-radius: 0.5rem;
    border: 0px solid transparent;
    padding: 0.5rem;
    transition: box-shadow 0.2s;
    width: 200px;
    margin-bottom: 0.5rem;
}

input:hover{
    box-shadow: 0px 0px 10px #aaa;
}

button{
    padding: 6.5px 15px;
    border-radius: 15px;
    font-size: 103%;
    background-color: transparent;
    color: #ccc;
    border: 1px solid #ccc;
    margin-left: 0.5rem;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
}

button:hover{
    background-color: #ccc;
    color: #000;
}

/* Waypoint Nav */
.waypoint-nav{
    font-size: 14px;
    background-color: #e7e7e7;
}

.waypoint-nav div{
    height: 1.5rem;
}

.waypoint-nav h1{
    color: #555;
    margin: 1rem 0 0.8rem 1rem;
    font-size: 230%;
}

.waypoint-nav div .nav li a{
    color: #555;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.3s,text-shadow 0.3s;
}

.waypoint-nav div .nav li a:hover{
    border-bottom: 1px solid #555;
    text-shadow: 0px 0px 7px #aaa;
}

.waypoint-nav div form .inputBox{
    top: 0rem;
}

.waypoint-nav div form .inputBox input{
    color: #555;
}

.waypoint-nav div form div button{
    color: #555;
    border: 1px solid #747474;
}

/* ========== */
/* Body */
/* ========== */

.body{
    padding-top: 7%;
}

.box{
    text-align: left;
    display: inline-block;
    width: 235px;
    padding: 0.5rem 1rem 1rem 1rem;
    margin: 1rem;
    border: 1px solid #333;
    box-shadow: 0px 2px 7px #222222d8;
    border-radius: 4px;
    transition: border 0.2s, box-shadow 0.2s;
}

.country{
    font-size: 130%;
    margin-bottom: 0.5rem;
}

li{
    line-height: 1.7;
    font-size: 105%;
    letter-spacing: 1px;
}

.box:hover{
    border: 1px solid #555;
    box-shadow: 2px 2px 5px #444;
}

/* ========== */
/* Latest News */
/* ========== */
.worldBox{
    font-size: 110%;
    text-align: left;
    padding: 0.5rem 1rem 1rem 1rem;
    width: 70%;
    margin: 1rem auto;
    padding: 1.5rem;
    border: 1px solid #333;
    box-shadow: 0px 2px 7px #222222d8;
    border-radius: 4px;
    transition: border 0.2s, box-shadow 0.2s;
}

.worldBox:hover{
    border: 1px solid #555;
    box-shadow: 2px 2px 5px #444;
}

.latest_header::after{
    content: "";
    display: block;
    height: 1.5px;
    width: 30%;
    background-color: #ccc;
    margin: 0.5rem 0;
}

td{
    padding: 7px;
}

/* ========== */
/* Check With Date */
/* ========== */
.inputForm{
    border: 1px solid #8f8f8f;
    padding: 3rem;
    margin: 0.5rem 1rem 1rem 1rem;
    border-radius: 5px;
    box-shadow: 2px 2px 7px #111;
}

.inputForm div{
    display: inline-block;
}

.input-group{
    margin-right: 1.7rem;
}

.input-group label{
    margin-right: 0.5rem;
}

.country_name{
    font-size: 180%;
    text-align: center;
}

.country_name::after{
    content: "";
    display: block;
    height: 1.5px;
    width: 10%;
    background-color: #ccc;
    margin: 0.5rem auto;
}